<?xml version="1.0"?>
<settings>

  <eigenvalue>
    <batches>20</batches>
    <inactive>10</inactive>
    <particles>5000</particles>
  </eigenvalue>

  <source>
    <space>
      <type>fission</type>
      <parameters>
        -160 -160 -183
         160  160  183
      </parameters>
    </space>
  </source>

</settings>
